p {
    font-family: arial;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.product-entry{
    color: sienna;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.product{
    font-size:38px;
    font-weight: bold;
    margin-top: 10px;
}

.description{
    font-size: 65px;
    font-weight: bold;
    margin-top: 5px;
}

.price{
    font-size: 20px;
    margin-top: 10px;
}

.buy-button{
    background-color: rgb(4, 103, 196);
    color: white;
    border: none;
    font-family: Arial;
    font-weight: bold;
    padding: 10px 16px 10px 16px;
    border-radius: 160px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: padding-left 1s ease, background-color 0.3s ease;
}

.buy-button:hover{
    background-color: rgba(4, 107, 203, 0.8);
    padding-left: 200px;
    cursor: pointer;
}

.buy-button:active{
    background-color: rgba(4, 107, 203, 0.6);
}